.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.5vw 1.5vw;
  border-radius: 5vw;
  color: var(--background);
  background-color: var(--accent);
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
}

.smallTitle {
  font-size: 1vw;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.icon {
  width: 2vw;
  height: 2vw;
  object-fit: contain;
}

.smallIcon {
}

.button:hover {
  background-color: var(--accentHover);
  transition: all 0.1s ease-in;
}

@media (width >= 768px) and (width <= 1024px) {
}

@media (width <= 767px) {
  .button {
    width: fit-content;
    padding: 2vw 6vw;
    border-radius: 5vw;
    color: var(--background);
    background-color: var(--accent);
    cursor: pointer;
  }

  .title {
    font-size: 4vw;
  }

  .smallTitle {
    font-size: 4vw;
  }

  .wrapper {
    gap: 4vw;
  }

  .button:hover {
    background-color: var(--accent);
  }

  .icon {
    width: 7vw;
    height: 7vw;
  }
}
