.main {
  position: relative;
  overflow: hidden;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4vw 7.4vw 0;
}

.cardsWrapper {
  width: 100%;
  padding: 0 7.4vw;
}

.blokTitleWrapper {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
  padding: 4vw 7.4vw 0;
}

.blokTitle {
  width: fit-content;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.3vw;
  text-align: center;
  white-space: nowrap;
  color: var(--black);
}

.iconWrapper {
  width: 2vw;
  height: 2vw;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.line {
  flex: 1;
  height: 0.1vw;
  background-color: var(--black);
}

.title {
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: var(--titleDesc);
  font-weight: 700;
  line-height: 1;
}

.strong {
  font-family: var(--font-sofia), sans-serif;
  color: var(--secondary);
}

.back {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1vw;
  line-height: 1;
  cursor: pointer;
}

.back:hover {
  color: var(--secondary);
}

.iconBack {
  width: 1.5vw;
  height: 1.5vw;
}

.feedback {
  padding: 4vw 7.4vw 6vw;
}

@media (width >= 768px) and (width <= 1024px) {
  .titleWrapper {
    padding: 20vw 7.4vw 0;
  }

  .title {
    margin-top: 2vw;
    margin-bottom: 3vw;
    font-size: var(--titleMob);
  }

  .cardsWrapper {
    width: 100%;
    padding: 0 7.4vw;
  }

  .blokTitleWrapper {
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 100%;
    padding: 4vw 7.4vw 0;
  }

  .blokTitle {
    width: fit-content;
    font-family: var(--font-roboto), sans-serif;
    font-size: 1.3vw;
    text-align: center;
    white-space: nowrap;
    color: var(--black);
  }

  .iconWrapper {
    width: 6vw;
    height: 6vw;
    position: relative;
  }

  .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }

  .line {
    flex: 1;
    height: 0.4vw;
    background-color: var(--black);
  }

  .back {
    justify-content: center;
    gap: 1vw;
    font-size: 4vw;
  }

  .back:hover {
    color: var(--black);
  }

  .iconBack {
    width: 6vw;
    height: 6vw;
    flex-shrink: 0;
  }

  .feedback {
    padding: 4vw 7.4vw 15vw;
  }
}

@media (width <= 767px) {
  .titleWrapper {
    padding: 20vw 7.4vw 0;
  }

  .title {
    margin-top: 2vw;
    margin-bottom: 3vw;
    font-size: var(--titleMob);
  }

  .cardsWrapper {
    width: 100%;
    padding: 0 7.4vw;
  }

  .blokTitleWrapper {
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 100%;
    padding: 4vw 7.4vw 0;
  }

  .blokTitle {
    width: fit-content;
    font-family: var(--font-roboto), sans-serif;
    font-size: 1.3vw;
    text-align: center;
    white-space: nowrap;
    color: var(--black);
  }

  .iconWrapper {
    width: 6vw;
    height: 6vw;
    position: relative;
  }

  .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }

  .line {
    flex: 1;
    height: 0.4vw;
    background-color: var(--black);
  }

  .back {
    justify-content: center;
    gap: 1vw;
    font-size: 4vw;
  }

  .back:hover {
    color: var(--black);
  }

  .iconBack {
    width: 6vw;
    height: 6vw;
    flex-shrink: 0;
  }

  .feedback {
    padding: 4vw 7.4vw 15vw;
  }
}
