.apartments {
  width: 100%;
  padding-top: 6vw;
  position: relative;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.4vw;
}

.title {
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: var(--titleDesc);
  font-weight: 700;
  line-height: 1;
}

.strong {
  font-family: var(--font-sofia), sans-serif;
  color: var(--secondary);
}

.blockTitle {
  padding: 0 7.4vw;
}

.categoriesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  padding: 0 7.4vw 2vw;
  margin-top: 2vw;
}

.category {
  position: relative;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.categoryActive {
  color: var(--accent);
}

.categoryActive::after {
  height: 0.15vw;
  position: absolute;
  right: 0;
  bottom: -0.5vw;
  left: 0;
  background: var(--accent);
  transition: all 0.3s ease-out;
  content: "";
}

.category:hover {
  color: var(--secondary);
  transition: all 0.3s ease-out;
}

.category:hover.categoryActive::after {
  background: var(--secondary);
}

.cardsBackground {
  height: 80vh;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(0 0 0 / 50%);
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel {
  width: 25%;
  height: 80%;
  z-index: 5;
  align-self: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2vw 3.5vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  opacity: 0;
}

.cardImageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.characterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1;
  color: var(--black);
}

.characterFirst {
  margin-bottom: 1vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.7vw;
  font-weight: 400;
  line-height: 1;
  color: var(--secondary);
}

.button {
  margin: 0 auto;
  margin-top: 1vw;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: fit-content;
  padding: 0.5vw 1vw;
  margin: 0 auto;
  margin-top: 2vw;
  border-radius: 2vw;
  position: relative;
  z-index: 5;
  color: white;
  background-color: var(--background);
}

.dotsWrapper {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.dot {
  width: 1.2vw;
  height: 0.5vw;
  margin: 0 0.2vw;
  border-radius: 2vw;
  background-color: var(--black);
}

.dotActive {
  background-color: var(--accent);
}

.nav {
  width: 2vw;
  height: 2vw;
  color: var(--black);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.nav:hover {
  color: var(--accent);
  transition: all 0.3s ease-out;
}

@media (width >= 768px) and (width <= 1024px) {
  .apartments {
    padding-top: 6vw;
  }

  .titleWrapper {
    display: block;
    padding: 0 7.4vw;
  }

  .title {
    margin-top: 7vw;
    margin-bottom: 7vw;
    font-size: var(--titleMob);
  }

  .blockTitle {
    padding: 0 7.4vw;
  }

  .categoriesWrapper {
    gap: 5vw;
    padding: 6vw 0;
    margin-top: 2vw;
  }

  .category {
    position: relative;
    font-size: 5vw;
  }

  .categoryActive::after {
    height: 0.5vw;
    bottom: -2vw;
    color: var(--accent);
  }

  .category:hover {
    color: var(--accent);
  }

  .categoryActive {
    color: var(--accent);
  }

  .category:hover.categoryActive::after {
    background: var(--accent);
  }

  .cardsBackground {
    height: 70vh;
    position: relative;
  }

  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel {
    width: 85%;
    height: 80%;
  }

  .card {
    padding: 6vw 10vw;
  }

  .characterWrapper {
    margin-top: 2vw;
    font-size: 4vw;
    line-height: 1;
  }

  .characterFirst {
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-size: 5vw;
  }

  .button {
    margin: 0 auto;
    margin-top: 4vw;
  }

  .pagination {
    gap: 4vw;
    padding: 1vw 2vw;
    margin-top: 6vw;
    border-radius: 8vw;
  }

  .dotsWrapper {
    gap: 3vw;
  }

  .dot {
    width: 4vw;
    height: 2vw;
    margin: 0 0.2vw;
    border-radius: 2vw;
  }

  .nav {
    width: 8vw;
    height: 8vw;
  }

  .nav:hover {
    color: var(--black);
  }

  .buttonMore {
    margin: 0 auto;
    margin-top: 4vw;
  }
}

@media (width <= 767px) {
  .apartments {
    padding-top: 6vw;
  }

  .titleWrapper {
    display: block;
    padding: 0 7.4vw;
  }

  .title {
    margin-top: 7vw;
    margin-bottom: 7vw;
    font-size: var(--titleMob);
  }

  .blockTitle {
    padding: 0 7.4vw;
  }

  .categoriesWrapper {
    gap: 5vw;
    padding: 6vw 0;
    margin-top: 2vw;
  }

  .category {
    position: relative;
    font-size: 5vw;
  }

  .categoryActive::after {
    height: 0.5vw;
    bottom: -2vw;
    color: var(--accent);
  }

  .category:hover {
    color: var(--accent);
  }

  .categoryActive {
    color: var(--accent);
  }

  .category:hover.categoryActive::after {
    background: var(--accent);
  }

  .cardsBackground {
    height: 70vh;
    position: relative;
  }

  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel {
    width: 85%;
    height: 80%;
  }

  .card {
    padding: 6vw 10vw;
  }

  .characterWrapper {
    margin-top: 2vw;
    font-size: 4vw;
    line-height: 1;
  }

  .characterFirst {
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-size: 5vw;
  }

  .button {
    margin: 0 auto;
    margin-top: 4vw;
  }

  .pagination {
    gap: 4vw;
    padding: 1vw 2vw;
    margin-top: 6vw;
    border-radius: 8vw;
  }

  .dotsWrapper {
    gap: 3vw;
  }

  .dot {
    width: 4vw;
    height: 2vw;
    margin: 0 0.2vw;
    border-radius: 2vw;
  }

  .nav {
    width: 8vw;
    height: 8vw;
  }

  .nav:hover {
    color: var(--black);
  }

  .buttonMore {
    margin: 0 auto;
    margin-top: 4vw;
  }
}
