.footer {
  padding: 2vw 7.4vw;
  color: var(--background);
  background-color: var(--black);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 15vw 1fr;
}

.leftBlock,
.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.rightBlock {
  align-items: flex-end;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  margin-top: 1vw;
}

.socialLinkWrapper {
  display: flex;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 2vw;
  padding: 0.2vw;
  border-radius: 20vw;
  color: var(--black);
  background-color: var(--background);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 100%;
}

.iconfacebook {
  width: 90%;
  height: 90%;
}

.socialLink:hover {
  transform: scale(1.1);
  color: var(--accent);
  transition: all 0.2s ease-out;
}

.link {
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.7vw;
  color: var(--background);
}

.link:hover {
  color: var(--accent);
}

.iconWrapper {
  width: 15vw;
  height: 10vw;
  position: relative;
}

.logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.socialText {
  margin-top: 1.5vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
  text-align: center;
  color: var(--background);
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 1vw;
  background-color: var(--background);
}

.copyrightWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 0.8vw;
  color: var(--background);
}

@media (width >= 768px) and (width <= 1024px) {
  .footer {
    padding: 5vw 9vw;
    color: var(--background);
    background-color: var(--black);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "left right"
      "logo logo";
  }

  .leftBlock,
  .rightBlock {
    gap: 4vw;
  }

  .leftBlock {
    grid-area: left;
  }

  .rightBlock {
    grid-area: right;
  }

  .socialWrapper {
    gap: 4vw;
    margin-top: 4vw;
  }

  .socialLink {
    width: 8vw;
    height: 8vw;
    padding: 0.8vw;
    border-radius: 20vw;
  }

  .socialLink:hover {
    transform: scale(1);
    color: var(--black);
  }

  .link {
    font-size: 4vw;
  }

  .link:hover {
    color: var(--background);
  }

  .iconWrapper {
    width: 30vw;
    height: 20vw;
    position: relative;
    place-self: center center;
    grid-area: logo;
  }

  .socialText {
    margin-top: 4vw;
    font-size: 3vw;
  }

  .line {
    height: 0.4vw;
    margin-top: 4vw;
  }

  .copyrightWrapper {
    margin-top: 4vw;
    font-size: 3vw;
  }
}

@media (width <= 767px) {
  .footer {
    padding: 5vw 9vw;
    color: var(--background);
    background-color: var(--black);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "left right"
      "logo logo";
  }

  .leftBlock,
  .rightBlock {
    gap: 4vw;
  }

  .leftBlock {
    grid-area: left;
  }

  .rightBlock {
    grid-area: right;
  }

  .socialWrapper {
    gap: 4vw;
    margin-top: 4vw;
  }

  .socialLink {
    width: 8vw;
    height: 8vw;
    padding: 0.8vw;
    border-radius: 20vw;
  }

  .socialLink:hover {
    transform: scale(1);
    color: var(--black);
  }

  .link {
    font-size: 4vw;
  }

  .link:hover {
    color: var(--background);
  }

  .iconWrapper {
    width: 30vw;
    height: 20vw;
    position: relative;
    place-self: center center;
    grid-area: logo;
  }

  .socialText {
    margin-top: 4vw;
    font-size: 3vw;
  }

  .line {
    height: 0.4vw;
    margin-top: 4vw;
  }

  .copyrightWrapper {
    margin-top: 4vw;
    font-size: 3vw;
  }
}
