.swiper {
  margin: 1.5vw 7.4vw 0;
  overflow: hidden;
}

.blockTitle {
  padding: 0 7.4vw;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5vw;
  border-top: 0.15vw solid var(--black);
  border-right: 0.15vw solid var(--black);
}

.contentWrapper {
  width: 100%;
  padding: 1.5vw 1.5vw 0 0;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5vw;
}

.title {
  font-family: var(--font-sofia), sans-serif;
  font-size: 1.6vw;
  font-weight: 700;
  line-height: 1;
}

.area {
  font-family: var(--font-sofia), sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1;
  color: var(--accent);
}

.imageWrapper {
  width: 100%;
  height: 50vh;
  position: relative;
  align-self: flex-start;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardText {
  margin-bottom: 2vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1;
}

.cardList {
  margin-bottom: 0.5vw;
  margin-left: 2vw;
  position: relative;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
}

.cardList::before {
  width: 1.3vw;
  height: 1.3vw;
  margin-right: 0.5vw;
  position: absolute;
  top: 0.4vw;
  left: -2vw;
  background-image: url("/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.button {
  margin: 0 auto;
  margin-top: 1vw;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: fit-content;
  padding: 0.5vw 1vw;
  margin: 0 auto;
  margin-top: 2vw;
  border-radius: 2vw;
  position: relative;
  z-index: 5;
  color: white;
  background-color: var(--background);
}

.dotsWrapper {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.dot {
  width: 1.5vw;
  height: 0.7vw;
  margin: 0 0.2vw;
  border-radius: 2vw;
  background-color: var(--black);
}

.dotActive {
  background-color: var(--accent);
}

.nav {
  width: 3vw;
  height: 3vw;
  color: var(--black);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.nav:hover {
  color: var(--accent);
  transition: all 0.3s ease-out;
}

@media (width >= 768px) and (width <= 1024px) {
  .swiper {
    margin: 1.5vw 7.4vw 0;
    overflow: hidden;
  }

  .blockTitle {
    padding: 10vw 7.4vw 5vw;
  }

  .card {
    gap: 5vw;
    border-top: 0.4vw solid var(--black);
    border-right: 0.4vw solid var(--black);
  }

  .contentWrapper {
    padding: 5vw 5vw 0 0;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vw;
  }

  .title {
    font-size: 4vw;
  }

  .area {
    font-size: 4vw;
  }

  .imageWrapper {
    width: 60%;
    height: 20vh;
    position: relative;
    align-self: flex-start;
  }

  .cardText {
    margin-bottom: 2vw;
    font-size: 3vw;
    line-height: 1.2;
  }

  .cardList {
    margin-bottom: 1vw;
    margin-left: 5vw;
    font-size: 3vw;
  }

  .cardList::before {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
    top: 0.5vw;
    left: -5vw;
  }

  .button {
    margin: 0 auto;
    margin-top: 4vw;
  }

  .pagination {
    gap: 4vw;
    padding: 1vw 2vw;
    margin-top: 6vw;
    border-radius: 8vw;
  }

  .dotsWrapper {
    gap: 3vw;
  }

  .dot {
    width: 4vw;
    height: 2vw;
    margin: 0 0.2vw;
    border-radius: 2vw;
  }

  .dotActive {
    background-color: var(--accent);
  }

  .nav {
    width: 8vw;
    height: 8vw;
  }

  .nav:hover {
    color: var(--black);
  }
}

@media (width <= 767px) {
  .swiper {
    margin: 1.5vw 7.4vw 0;
    overflow: hidden;
  }

  .blockTitle {
    padding: 10vw 7.4vw 5vw;
  }

  .card {
    gap: 5vw;
    border-top: 0.4vw solid var(--black);
    border-right: 0.4vw solid var(--black);
  }

  .contentWrapper {
    padding: 5vw 5vw 0 0;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vw;
  }

  .title {
    font-size: 4vw;
  }

  .area {
    font-size: 4vw;
  }

  .imageWrapper {
    width: 60%;
    height: 20vh;
    position: relative;
    align-self: flex-start;
  }

  .cardText {
    margin-bottom: 2vw;
    font-size: 3vw;
    line-height: 1.2;
  }

  .cardList {
    margin-bottom: 1vw;
    margin-left: 5vw;
    font-size: 3vw;
  }

  .cardList::before {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
    top: 0.5vw;
    left: -5vw;
  }

  .button {
    margin: 0 auto;
    margin-top: 4vw;
  }

  .pagination {
    gap: 4vw;
    padding: 1vw 2vw;
    margin-top: 6vw;
    border-radius: 8vw;
  }

  .dotsWrapper {
    gap: 3vw;
  }

  .dot {
    width: 4vw;
    height: 2vw;
    margin: 0 0.2vw;
    border-radius: 2vw;
  }

  .dotActive {
    background-color: var(--accent);
  }

  .nav {
    width: 8vw;
    height: 8vw;
  }

  .nav:hover {
    color: var(--black);
  }
}
