.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4vw 7.4vw 0;
}

.title {
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: var(--titleDesc);
  font-weight: 700;
  line-height: 1;
}

.strong {
  font-family: var(--font-sofia), sans-serif;
  color: var(--secondary);
}

.back {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1vw;
  line-height: 1;
  cursor: pointer;
}

.back:hover {
  color: var(--secondary);
}

.iconBack {
  width: 1.5vw;
  height: 1.5vw;
}

.flatShow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 3vw;
  font-family: var(--font-sofia), sans-serif;
  font-size: 8vw;
  color: var(--background);
  background-color: var(--black);
}

@media (width >= 768px) and (width <= 1024px) {
  .titleWrapper {
    padding: 20vw 7.4vw 0;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--titleMob);
  }

  .back {
    justify-content: center;
    gap: 1vw;
    font-size: 4vw;
  }

  .back:hover {
    color: var(--black);
  }

  .iconBack {
    width: 6vw;
    height: 6vw;
    flex-shrink: 0;
  }

  .flatShow {
    margin-top: 6vw;
  }
}

@media (width <= 767px) {
  .titleWrapper {
    padding: 20vw 7.4vw 0;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--titleMob);
  }

  .back {
    justify-content: center;
    gap: 1vw;
    font-size: 4vw;
  }

  .back:hover {
    color: var(--black);
  }

  .iconBack {
    width: 6vw;
    height: 6vw;
    flex-shrink: 0;
  }

  .flatShow {
    margin-top: 6vw;
  }
}
