.news {
  width: 100%;
  padding: 6vw 7.4vw 0;
  position: relative;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: var(--titleDesc);
  font-weight: 700;
  line-height: 1;
}

.strong {
  font-family: var(--font-sofia), sans-serif;
  color: var(--secondary);
}

.categoriesWrapper {
  display: flex;
  gap: 1vw;
}

.category {
  margin-bottom: 2vw;
  position: relative;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.9vw;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.active {
  color: var(--accent);
}

.active::after {
  height: 0.15vw;
  position: absolute;
  right: 0;
  bottom: -0.5vw;
  left: 0;
  background: var(--accent);
  transition: all 0.3s ease-out;
  content: "";
}

.category:hover {
  color: var(--secondary);
  transition: all 0.3s ease-out;
}

.category:hover.active::after {
  background: var(--secondary);
}

.back {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1vw;
  line-height: 1;
  cursor: pointer;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.card {
  display: block;
}

.cardInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
  will-change: transform;
}

.cardInner:hover {
  transform: scale(1.05) translateZ(0);
}

.imageWrapper {
  width: 100%;
  height: 15vw;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mounth {
  margin-top: 1vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

.cardTitle {
  flex: 1;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: var(--font-sofia), sans-serif;
  font-size: 1.7vw;
  font-weight: 700;
  line-height: 1;
  color: var(--secondary);
}

.cardDescription {
  display: -webkit-box;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.1;
  color: #6b6b6b;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.line {
  display: block;
  width: 100%;
  height: 0.1vw;
  margin-top: 2vw;
  background-color: var(--black);
}

.button {
  margin-top: 0.5vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1vw;
  text-align: right;
}

@media (width >= 768px) and (width <= 1024px) {
  .news {
    padding: 17vw 9vw;
  }

  .title {
    margin-top: 5vw;
    margin-bottom: 6vw;
    font-size: var(--titleMob);
  }

  .categoriesWrapper {
    display: flex;
    justify-content: center;
    gap: 6vw;
  }

  .category {
    margin-bottom: 6vw;
    font-size: 5vw;
  }

  .active::after {
    height: 0.5vw;
    bottom: -2vw;
  }

  .category:hover {
    color: var(--accent);
  }

  .categoryActive {
    color: var(--accent);
  }

  .category:hover.active::after {
    background: var(--accent);
  }

  .cardsWrapper {
    grid-template-columns: 1fr;
    gap: 7vw;
  }

  .cardInner:hover {
    transform: scale(1);
  }

  .imageWrapper {
    height: 40vw;
  }

  .mounth {
    margin-top: 3vw;
    font-size: 3vw;
  }

  .cardTitle {
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-size: 5vw;
  }

  .cardDescription {
    font-size: 4vw;
    line-height: 1.1;
  }

  .line {
    height: 0.15vw;
    margin-top: 3vw;
  }

  .button {
    font-size: 3vw;
  }

  .buttonMore {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (width <= 767px) {
  .news {
    padding: 17vw 9vw;
  }

  .title {
    margin-top: 5vw;
    margin-bottom: 6vw;
    font-size: var(--titleMob);
  }

  .categoriesWrapper {
    display: flex;
    justify-content: center;
    gap: 6vw;
  }

  .category {
    margin-bottom: 6vw;
    font-size: 5vw;
  }

  .active::after {
    height: 0.5vw;
    bottom: -2vw;
  }

  .category:hover {
    color: var(--accent);
  }

  .categoryActive {
    color: var(--accent);
  }

  .category:hover.active::after {
    background: var(--accent);
  }

  .cardsWrapper {
    grid-template-columns: 1fr;
    gap: 7vw;
  }

  .cardInner:hover {
    transform: scale(1);
  }

  .imageWrapper {
    height: 40vw;
  }

  .mounth {
    margin-top: 3vw;
    font-size: 3vw;
  }

  .cardTitle {
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-size: 5vw;
  }

  .cardDescription {
    font-size: 4vw;
    line-height: 1.1;
  }

  .line {
    height: 0.15vw;
    margin-top: 3vw;
  }

  .button {
    font-size: 3vw;
  }

  .buttonMore {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
