.documentation {
  width: 100%;
  padding: 0 7.4vw 6vw;
  position: relative;
}

.title {
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: var(--titleDesc);
  font-weight: 700;
  line-height: 1;
}

.strong {
  font-family: var(--font-sofia), sans-serif;
  color: var(--secondary);
}

.docGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

.docItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
  border-radius: 2vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1;
  color: var(--background);
  background-color: var(--black);
  transition: background 0.15s ease;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.docItemWrapper:hover {
  /* color: var(--accent); */
  transform: scale(1.05);
  background-color: var(--accent);
  transition: all 0.3s ease-in-out;
}

.icon {
  width: 2.5vw !important;
  height: 2.5vw !important;
  margin-left: 1vw;
  transition: transform 0.15s ease;
}

@media (width >= 768px) and (width <= 1024px) {
}

@media (width <= 767px) {
  .documentation {
    padding: 0 9vw 17vw;
  }

  .title {
    margin-top: 7vw;
    margin-bottom: 7vw;
    font-size: var(--titleMob);
  }

  .docGrid {
    grid-template-columns: 1fr;
    gap: 2vw;
  }

  .docItemWrapper {
    padding: 4vw 6vw;
    border-radius: 10vw;
    font-size: 3.5vw;
  }

  .docItemWrapper:hover {
    transform: scale(1);
    background-color: var(--black);
  }

  .icon {
    width: 7vw !important;
    height: 7vw !important;
    margin-left: 2vw;
    transition: transform 0.15s ease;
  }
}
