/* [project]/app/not-found.module.css [app-client] (css) */
.not-found-module__sxuMuG__main {
  text-align: center;
  height: 100svh;
  color: var(--black);
  background: var(--background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  display: flex;
}

.not-found-module__sxuMuG__title {
  font-family: var(--font-sofia), sans-serif;
  font-size: 3.5vw;
}

.not-found-module__sxuMuG__subtitle {
  font-family: var(--font-sofia), sans-serif;
  margin-bottom: 2vw;
  font-size: 3vw;
}

.not-found-module__sxuMuG__textTitle {
  font-family: var(--font-sofia), sans-serif;
  margin-bottom: 2vw;
  font-size: 2vw;
  font-weight: 600;
}

.not-found-module__sxuMuG__text {
  font-family: var(--font-roboto), sans-serif;
  font-size: 2vw;
}

.not-found-module__sxuMuG__text:last-of-type {
  margin-bottom: 2vw;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .not-found-module__sxuMuG__title {
    margin-bottom: 3vw;
    font-size: 7vw;
  }

  .not-found-module__sxuMuG__subtitle {
    margin-bottom: 3vw;
    font-size: 5vw;
  }

  .not-found-module__sxuMuG__text {
    margin-bottom: 1vw;
    font-size: 3vw;
  }

  .not-found-module__sxuMuG__textTitle {
    margin-bottom: 2vw;
    font-size: 4vw;
    font-weight: 600;
  }

  .not-found-module__sxuMuG__text:last-of-type {
    margin-bottom: 7vw;
  }
}

@media (max-width: 767px) {
  .not-found-module__sxuMuG__main {
    padding: 5vw;
  }

  .not-found-module__sxuMuG__title {
    margin-bottom: 5vw;
    font-size: 8vw;
  }

  .not-found-module__sxuMuG__subtitle {
    margin-bottom: 5vw;
    font-size: 5vw;
  }

  .not-found-module__sxuMuG__textTitle {
    margin-bottom: 3vw;
    font-size: 5vw;
    font-weight: 600;
  }

  .not-found-module__sxuMuG__text {
    margin-bottom: 1vw;
    font-size: 4vw;
  }

  .not-found-module__sxuMuG__text:last-of-type {
    margin-bottom: 7vw;
  }
}

/* [project]/src/components/Button/Button.module.css [app-client] (css) */
.Button-module__e7WGRa__button {
  width: fit-content;
  color: var(--background);
  background-color: var(--accent);
  cursor: pointer;
  border-radius: 5vw;
  justify-content: center;
  align-items: center;
  padding: .5vw 1.5vw;
  transition: all .1s ease-in;
  display: flex;
}

.Button-module__e7WGRa__title {
  font-family: Roboto, sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
}

.Button-module__e7WGRa__smallTitle {
  font-size: 1vw;
}

.Button-module__e7WGRa__wrapper {
  justify-content: center;
  align-items: center;
  gap: 2vw;
  display: flex;
}

.Button-module__e7WGRa__icon {
  object-fit: contain;
  width: 2vw;
  height: 2vw;
}

.Button-module__e7WGRa__button:hover {
  background-color: var(--accentHover);
  transition: all .1s ease-in;
}

@media (max-width: 767px) {
  .Button-module__e7WGRa__button {
    width: fit-content;
    color: var(--background);
    background-color: var(--accent);
    cursor: pointer;
    border-radius: 5vw;
    padding: 2vw 6vw;
  }

  .Button-module__e7WGRa__title, .Button-module__e7WGRa__smallTitle {
    font-size: 4vw;
  }

  .Button-module__e7WGRa__wrapper {
    gap: 4vw;
  }

  .Button-module__e7WGRa__button:hover {
    background-color: var(--accent);
  }

  .Button-module__e7WGRa__icon {
    width: 7vw;
    height: 7vw;
  }
}

/*# sourceMappingURL=_0l9ucsh._.css.map*/