.blokTitleWrapper {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
}

.blokTitle {
  width: fit-content;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.3vw;
  text-align: center;
  white-space: nowrap;
  color: var(--black);
  flex-shrink: 0;
  flex-grow: 0;
}

.iconWrapper {
  width: 2vw;
  height: 2vw;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}

.icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.line {
  width: 100%;
  border-bottom: 0.15vw solid black;
}

@media (width >= 768px) and (width <= 1024px) {
}

@media (width <= 767px) {
  .blokTitleWrapper {
    gap: 3vw;
  }

  .blokTitle {
    font-size: 4vw;
  }

  .iconWrapper {
    width: 6vw;
    height: 6vw;
  }

  .line {
    border-bottom: 0.4vw solid black;
  }
}
