.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8vw;
  padding: var(--pbd);
}

.rightBlock {
  position: relative;
}

.imageWrapper {
  width: 140%;
  height: 160%;
  position: absolute;
  top: -6vw;
  left: -7vw;
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: contain;
  opacity: 0.09;
}

.leftBlockName,
.rightBlockName {
  padding-left: 6vw;
  margin-bottom: 1vw;
  position: relative;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1;
}

.leftBlockName::before,
.rightBlockName::before {
  width: 5vw;
  height: 0.1vw;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--black);
  content: "";
}

.leftBlockTitle {
  margin-bottom: 3vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 3.2vw;
  font-weight: 700;
  line-height: 1;
}

.strong {
  font-family: var(--font-sofia), sans-serif;
  color: var(--secondary);
}

.leftBlockText {
  padding-bottom: 0.7vw;
  border-bottom: 0.15vw solid var(--black);
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1;
}

.phoneTitle {
  margin-top: 2vw;
  margin-bottom: 1vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 1;
  color: var(--secondary);
}

.phone {
  font-family: var(--font-roboto), sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1;
  display: block;
}

.rightBlockTitle {
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.8vw;
  font-weight: 700;
  line-height: 1;
  color: var(--secondary);
}

@media (width >= 768px) and (width <= 1024px) {
  .feedback {
    grid-template-columns: 1fr;
    gap: 10vw;
    padding: var(--pbm);
  }

  .imageWrapper {
    width: 220%;
    height: 120%;
    top: -3vw;
    left: -47vw;
  }

  .image {
    opacity: 0.09;
  }

  .leftBlockName,
  .rightBlockName {
    padding-left: 18vw;
    margin-bottom: 4vw;
    font-size: 3.5vw;
  }

  .leftBlockName::before,
  .rightBlockName::before {
    width: 15vw;
    height: 0.3vw;
  }

  .leftBlockTitle {
    margin-bottom: 3vw;
    font-size: var(--titleMob);
  }

  .leftBlockText {
    padding-bottom: 2vw;
    border-bottom: 0.2vw solid var(--black);
    font-size: 3vw;
  }

  .phoneTitle {
    margin-top: 4vw;
    margin-bottom: 2vw;
    font-size: 3vw;
  }

  .phone {
    font-size: 5vw;
  }

  .rightBlockTitle {
    margin-top: 2vw;
    margin-bottom: 6vw;
    font-family: var(--font-roboto), sans-serif;
    font-size: 5vw;
    font-weight: 700;
    line-height: 1;
    color: var(--secondary);
  }
}

@media (width <= 767px) {
  .feedback {
    grid-template-columns: 1fr;
    gap: 10vw;
    padding: var(--pbm);
  }

  .imageWrapper {
    width: 220%;
    height: 120%;
    top: -3vw;
    left: -47vw;
  }

  .image {
    opacity: 0.09;
  }

  .leftBlockName,
  .rightBlockName {
    padding-left: 18vw;
    margin-bottom: 4vw;
    font-size: 3.5vw;
  }

  .leftBlockName::before,
  .rightBlockName::before {
    width: 15vw;
    height: 0.3vw;
  }

  .leftBlockTitle {
    margin-bottom: 3vw;
    font-size: var(--titleMob);
  }

  .leftBlockText {
    padding-bottom: 2vw;
    border-bottom: 0.2vw solid var(--black);
    font-size: 3vw;
  }

  .phoneTitle {
    margin-top: 4vw;
    margin-bottom: 2vw;
    font-size: 3vw;
  }

  .phone {
    font-size: 5vw;
  }

  .rightBlockTitle {
    margin-top: 2vw;
    margin-bottom: 6vw;
    font-family: var(--font-roboto), sans-serif;
    font-size: 5vw;
    font-weight: 700;
    line-height: 1;
    color: var(--secondary);
  }
}
