.title {
  margin-top: 5vw;
  margin-bottom: 3vw;
  margin-left: 7vw;
  font-family: var(--font-roboto), sans-serif;
  font-size: var(--titleDesc);
  font-weight: 700;
  line-height: 1;
}

.strong {
  font-family: var(--font-sofia), sans-serif;
  color: var(--secondary);
}

@media (width >= 768px) and (width <= 1024px) {
  .title {
    margin: 5vw 7.4vw 3vw;
    font-size: 6vw;
  }
}

@media (width <= 767px) {
  .title {
    margin: 5vw 7.4vw 3vw;
    font-size: 6vw;
  }
}
