.main {
  width: 100.5vw;
  height: 100svh;
  position: relative;
}

.imageWrapper {
  width: 100vw;
  height: 100svh;
}

.image {
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.buildingWrapper {
  width: fit-content;
  margin-right: 4vw;
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  color: var(--background);
  background-color: rgb(47 43 40 / 30%);
  backdrop-filter: blur(10px);
  padding: 0.5vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buildingImageWrapper {
  width: 3vw;
  height: 3vw;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.buildingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buildingText {
  font-family: var(--font-roboto), sans-serif;
  margin-left: 1vw;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1;
  color: var(--background);
  max-width: 20vw;
}

.content {
  width: 100vw;
  padding-left: 4vw;
  position: absolute;
  bottom: 4vw;
  left: 0;
  color: var(--background);
}

.title {
  font-family: var(--font-sofia), sans-serif;
  font-size: 17vw;
  font-weight: 800;
  line-height: 0.75;
  text-transform: uppercase;
}

.subTitle {
  width: 45vw;
  padding-left: 0.8vw;
  margin-bottom: 1vw;
  font-family: var(--font-sofia), sans-serif;
  font-size: 3vw;
  font-weight: 400;
}

.socialWrapper {
  display: flex;
  gap: 0.5vw;
  position: absolute;
  right: 2vw;
  bottom: 2vw;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 2vw;
  padding: 0.2vw;
  border-radius: 20vw;
  color: var(--black);
  background-color: var(--background);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.socialLink:hover {
  color: var(--accent);
}

.icon {
  width: 100%;
  height: 100%;
}

.iconfacebook {
  width: 90%;
  height: 90%;
}

@media (width >= 768px) and (width <= 1024px) {
  .buildingWrapper {
    margin-left: 4vw;
    top: 85%;
    left: 0;
    padding: 3vw;
    border-radius: 10vw;
    z-index: 5;
  }

  .buildingImageWrapper {
    width: 8vw;
    height: 8vw;
  }

  .buildingText {
    font-family: var(--font-roboto), sans-serif;
    margin-left: 4vw;
    font-size: 3vw;
    line-height: 1.2;
    font-weight: 400;
    max-width: 60vw;
  }

  .content {
    width: 95vw;
    top: 30vw;
    left: 0;
  }

  .title {
    font-size: 16.2vw;
  }

  .subTitle {
    width: 45vw;
    padding-left: 0.8vw;
    margin-bottom: 1vw;
    font-family: var(--font-sofia), sans-serif;
    font-size: 5vw;
    font-weight: 400;
  }

  .description {
    width: 78vw;
    font-size: 3.2vw;
  }

  .socialWrapper {
    flex-direction: column;
    gap: 3vw;
    right: 10vw;
    bottom: 30vh;
  }

  .socialLink {
    width: 8vw;
    height: 8vw;
    padding: 0.8vw;
    border-radius: 20vw;
  }

  .socialLink:hover {
    color: var(--black);
  }
}

@media (width <= 767px) {
  .buildingWrapper {
    margin-left: 4vw;
    top: 85%;
    left: 0;
    padding: 3vw;
    border-radius: 10vw;
    z-index: 5;
  }

  .buildingImageWrapper {
    width: 8vw;
    height: 8vw;
  }

  .buildingText {
    font-family: var(--font-roboto), sans-serif;
    margin-left: 4vw;
    font-size: 3vw;
    line-height: 1.2;
    font-weight: 400;
    max-width: 60vw;
  }

  .content {
    width: 95vw;
    top: 50vw;
    left: 0;
  }

  .title {
    font-size: 16.2vw;
  }

  .subTitle {
    width: 45vw;
    padding-left: 0.8vw;
    margin-bottom: 1vw;
    font-family: var(--font-sofia), sans-serif;
    font-size: 5vw;
    font-weight: 400;
  }

  .description {
    width: 78vw;
    font-size: 3.2vw;
  }

  .socialWrapper {
    flex-direction: column;
    gap: 3vw;
    right: 10vw;
    bottom: 30vh;
  }

  .socialLink {
    width: 8vw;
    height: 8vw;
    padding: 0.8vw;
    border-radius: 20vw;
  }

  .socialLink:hover {
    color: var(--black);
  }
}
