.main {
  width: 100%;
  height: 100svh;
  position: relative;
}

.imageWrapper {
  width: 100%;
  height: 100svh;
}

.image {
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.content {
  width: 100vw;
  padding-left: 4vw;
  position: absolute;
  bottom: 4vw;
  left: 0;
  color: var(--background);
}

.title {
  margin-bottom: 1vw;
  font-family: var(--font-sofia), sans-serif;
  font-size: 17vw;
  font-weight: 800;
  line-height: 0.75;
  text-transform: uppercase;
}

.subTitle {
  width: 45vw;
  padding-left: 0.8vw;
  margin-bottom: 1vw;
  font-family: var(--font-sofia), sans-serif;
  font-size: 3vw;
  font-weight: 400;
}

.socialWrapper {
  display: flex;
  gap: 0.5vw;
  position: absolute;
  right: 2vw;
  bottom: 2vw;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5vw;
  height: 1.5vw;
  padding: 0.2vw;
  border-radius: 20vw;
  color: var(--black);
  background-color: var(--background);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.socialLink:hover {
  color: var(--accent);
}

.icon {
  width: 100%;
  height: 100%;
}

@media (width >= 768px) and (width <= 1024px) {
}

@media (width <= 767px) {
  .content {
    width: 95vw;
    top: 50vw;
    left: 0;
  }

  .title {
    margin-bottom: 6vw;
    font-size: 16.2vw;
  }

  .subTitle {
    width: 45vw;
    padding-left: 0.8vw;
    margin-bottom: 1vw;
    font-family: var(--font-sofia), sans-serif;
    font-size: 5vw;
    font-weight: 400;
  }

  .description {
    width: 78vw;
    font-size: 3.2vw;
  }

  .socialWrapper {
    flex-direction: column;
    gap: 3vw;
    right: 10vw;
    bottom: 30vh;
  }

  .socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 12vw;
    padding: 1.5vw;
  }

  .socialLink:hover {
    color: var(--black);
  }
}
